<section class="nes-container is-dark member-card" style="height: 400px;">
  <div class="avatar">
    <i class="nes-ash"></i>
    <i class="nes-pokeball" *ngFor="let item of pokemons"></i>
  </div>

  <div class="profile">
    <h4 class="id" *ngIf="treiner.name;else idTreiner">Id {{treiner.id}}</h4>
    <ng-template #idTreiner>
      <h4>Id 0</h4>
    </ng-template>
    <h4 class="name" *ngIf="treiner.name;else nameTreiner">Treiner {{treiner.name}}</h4>
    <ng-template #nameTreiner>
      <h4>Treiner Pokémon</h4>
    </ng-template>
    <p>{{this.pokemons.length}} Pokémon</p>
    <div class="buttons">
      <button type="button" class="nes-btn is-primary" onclick="document.getElementById('dialog-edit').showModal();">
        Edit
      </button>
      <button type="button" class="nes-btn is-primary" onclick="document.getElementById('dialog-view').showModal();">
        View Pokemon
      </button>
    </div>
  </div>
  <app-alert-edit></app-alert-edit>
  <app-alert-view [pokemons]="pokemons"></app-alert-view>
</section>