<div class="nes-container with-title is-centered">
  <section class="nes-container" aling-center>
    <section class="message-list">
      <section class="message -left">
        <i class="nes-ash"></i>
        <!-- Balloon -->
        <div class="nes-balloon from-left">
          <p>Bem-vindo treinador!</p>
        </div>
      </section>
  
      <section class="message -right">
        <!-- Balloon -->
        <div class="nes-balloon from-right">
          <p>Monte seu id de treinador</p>
        </div>
        <i class="nes-charmander"></i>
      </section>
    </section>
  </section>
</div>