<div class="nes-container with-title is-centered">
  <section class="nes-container">
    <section class="message-list">
      <section class="message -left">
        <i class="nes-ash"></i>
        <!-- Balloon -->
        <div class="nes-balloon from-left">
          <p *ngIf="treiner.name;else treinerName">Welcome, {{treiner.name}}!</p>
          <ng-template #treinerName><p>Welcome, Treiner!</p></ng-template>
        </div>
      </section>
  
      <section class="message -right">
        <!-- Balloon -->
        <div class="nes-balloon from-right">
          <p>Make your pokemon trainer identifier</p>
        </div>
        <i class="nes-charmander"></i>
      </section>
    </section>
  </section>
</div>