<section class="nes-container is-dark member-card" style="height: 400px;">
  <div class="avatar"><i class="nes-kirby"></i></div>
  <div class="profile">
    <h4 class="name">Treiner Pokémon</h4>
    <p>ID 1</p>
    <p>6 Pokémon</p>
    <div style="margin-top: 5%; margin-left: 30%;">
      <button type="button" class="nes-btn is-primary">Edit</button>
      <button type="button" class="nes-btn is-primary">View more</button>
    </div>
    <div style="margin-top: 5%;">
      <a href="#" class="nes-badge">
        <span class="is-primary">Friendly</span>
      </a>
      <a href="#" class="nes-badge" >
        <span class="is-success">Good</span>
      </a>
    </div>
  </div>
</section>