<dialog class="nes-dialog is-dark" id="dialog-edit">
    <form method="dialog">
        <p class="title">Edit name</p>
        <div class="nes-field">
            <label for="name_field">Your name</label>
            <input type="text" id="name_field" class="nes-input">
        </div>
        <menu class="dialog-menu">
            <button class="nes-btn" onclick="document.getElementById('dialog-edit').close();">Cancel</button>
            <button class="nes-btn is-primary" onclick="document.getElementById('dialog-edit').close();">Confirm</button>
        </menu>
    </form>
</dialog>